$corDeFundo: #121212;
$corTextoPrincipal: #E0E0E0;
$corTextoSecundario: #B03A2E ;
$corDeFundoBotaoPrimario: #851919;
$corDeFundoBotaoSecundario: #A52422;
$corDeFundoBotaoDark: #000;
$corTitutloExpansao: #8B008B;
$corSubtituloExpansao: #608122;